#
# Copyright 2011-2018 B2i Healthcare Pte Ltd, http://b2i.sg
#

# Redirects configuration directory to a random directory under OSGI installation directory
configurationDirectory: testing/rest/configuration

# Redirects resources directory to have a clean H2 content
resourceDirectory: testing/rest/resources

# Redirects merge-review-store directory to have a clean H2 content
mergeReviewStoreDirectory: testing/rest/resources/merge-review-store

# necessary to connect one user to the system otherwise Snow Owl startup fails
systemUser: true

identity:
  providers:
    - file:
        name: users
  
snomed:
  concreteDomainSupport: false
  classification:
    externalService:
      url: http://localhost:8089
      userName: classification
      password: classification
      numberOfPollTries: 20
      timeBetweenPollTries: 3000
  ids:
    strategy : EMBEDDED
  
metrics:
  enabled: true
  
repository:
  deploymentId: api-test
  index:
    socketTimeout: 60000
